# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/
coverage.xml

# Type checkers
.mypy_cache/
.pyre/
.ruff_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# =========================
# Visual Studio Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# SQLite databases
# =========================
*.sqlite3
db.sqlite3